@model IEnumerable<prjSeuMelhorAmicao.Models.Entidade.Animal>

@{
    ViewBag.Title = "Index";

}
<h2>ANIMAIS DA ONG : ViewBag.NomeOng</h2>

<div class="row">
    @foreach (var animal in Model)
    {
        <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="@Url.Action("VisualizarAnimal","Animal",new {@id = animal.Id})" alt="Imagem" height="300" width="300">
                <div class="caption">
                    <h4>@Html.DisplayFor(model => animal.Nome)@Html.DisplayFor(model => animal.DataEntrada)</h4>
                    <p><a href="@Url.Action("FavoritarAnimal","Cliente", new {@id = animal.Id})" class="btn btn-success btn-xs" role="button">Favoritar</a> </p>
                </div>
            </div>
        </div>
    }
</div>