@model IEnumerable<prjSeuMelhorAmicao.Models.Entidade.Ong>

@{
    ViewBag.Title = "Index";
}

<h2>Todas as Ongs: </h2>
<div class="row">
    @foreach (var ong in Model)
    {
        <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="@Url.Action("MostraImagem","Ong",new {@id = ong.Id})" alt="Imagem" height="300" width="300">
                <div class="caption">
                    <h4>@Html.DisplayFor(model => ong.Nome)</h4>
                    <p><a href="@Url.Action("Index","Animal", new {@idOng = ong.Id})" class="btn btn-info btn-xs" role="button"> Visualizar Animais</a> </p>
                </div>
            </div>
        </div>
    }
</div>

