@{ 
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Este site tem o objetivo de reunir em só lugar ONG's, para ajudar a encontrar um lar para os animais abandonados´, reduzindo assim o superlotação de ong's e o número de animias na rua </p>
